<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - &#161;Corked</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", required: false)
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none; font-size: 22px; letter-spacing: 3px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" style="text-align: right;" onclick="w3_close()">&times;</button>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button"><i class="fas fa-home"></i>   HOME</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()"><i class="fas fa-wine-glass-alt"></i>  SHOP WINE<i class="fa fa-caret-down"></i></button>
            <div id="demoAcc" class="w3-hide w3-white w3-card" style="font-size:15px;">
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index">ALL WINE</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="redWine">RED WINE</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="cabernetSauvignon">CABERNET SAUVIGNON</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="merlot">MERLOT</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="malbec">MALBEC</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="pinotNoir">PINOT NOIR</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="whiteWine">WHITE WINE</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="chardonnay">CHARDONNAY</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="pinotGris">PINOT GRIS</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="sauvignonBlanc">SAUVIGNON BLANC</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="rose">ROS&Eacute;</a>
                <br />
                <a class="w3-bar-item w3-button" asp-controller="WineList" asp-action="Index" asp-route-category="champagne">CHAMPAGNE</a>
                <br />
            </div>
        </div>
        <hr />
        <div class="finerthings">
            <a class="w3-bar-item w3-button" asp-controller="Subscription" asp-action="Index"><i class="fas fa-gift"></i>FINER THINGS</a>
            <br />
        </div>
        <hr />
        <div class="register">
            <a class="w3-bar-item w3-button" asp-area="" asp-controller="Account" asp-action="Register"><i class="fas fa-user-plus"></i>REGISTER</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <a class="w3-bar-item w3-button" asp-controller="Home" asp-action="About">About</a>
        <a class="w3-bar-item w3-button" asp-controller="Home" asp-action="Contact">Contact Us</a>


    </div>

    <!-- Icon navbar w/ login and cart -->
    <div class="w3-right w3-top" style="margin-left: 20%; padding-right: 320px;">
        <div class="w3-bar" style="width: 100%; display: flex; justify-content: flex-end; font-size: 18px">
            @await Html.PartialAsync("_LoginPartial")
            <a asp-area="" asp-controller="Cart" asp-action="Index" class="w3-bar-item w3-button"><i class="fas fa-shopping-bag"></i>  CART</a>
        </div>
    </div>

    <div id="main">
        <diV>
            <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open(); return false">&#9776;</button>
            <div class="w3-container">
                @RenderBody()
            </div>
        </diV>
    </div>


    <footer>
        <div class="fixed-bottom">
            &copy; 2018 - &#161;Corked
            <span>
            </span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js"></script>

</body>
</html>