@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<address>
    222 West Ontario Street<br />
    Suite #450<br />
    Chicago, Illinois 60654<br />
    <abbr title="Phone">P:</abbr>
    (773)328-8471
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@corked.codingtemple.com">admin@corked.codingtemple.com</a><br />
</address>
