@model Subscription

@{
    ViewData["Title"] = "Finer Things Club!";
}

@section Styles{
    <link href="~/css/subscription.css" rel="stylesheet" />
}

<h2 style="text-align: center; padding-bottom: 1em;">Here's how the Finer Things Club Works!</h2>
<div class="subscriptionCards">
    <div class="w3-card-4 w3-hover-shadow" style="width: 250px; height: 350px; margin-right: 1em; padding: 15px 15px 0px 4px;">
        <img src="~/images/package.svg" alt="package" style="padding-top: 5px; padding-bottom: 15px;">
        <div class="w3-container w3-center">
            <p>4 bottles a month of wine matched to your taste, delivered right to you</p>
        </div>
    </div>
    <div class="w3-card-4 w3-hover-shadow" style="width: 250px; height: 350px; margin-right: 1em; padding: 15px 15px 0px 4px;">
        <img src="~/images/freeDelivery.svg" alt="freeDelivery" style="padding-top: 5px; padding-bottom: 15px;">
        <div class="w3-container w3-center">
            <p>One time membership fee, unlimited free deliveries! </p>
        </div>
    </div>
    <div class="w3-card-4 w3-hover-shadow" style="width: 250px; height: 350px; margin-right: 1em; padding: 15px 15px 0px 4px;">
        <img src="~/images/bottle.svg" alt="bottle" style="padding-top: 5px; padding-bottom: 15px;">
        <div class="w3-container w3-center">
            <p>Thousands of wines, starting as low as $12</p>
        </div>
    </div>
    <div class="w3-card-4 w3-hover-shadow" style="width: 250px; height: 350px; padding: 15px 15px 0px 4px;">
        <img src="~/images/man.svg" alt="man" style="padding-top: 5px; padding-bottom: 15px;">
        <div class="w3-container w3-center">
            <p>Skip a month or cancel the membership at anytime, no questions asked</p>
        </div>
    </div>
</div>
<br />
<div class="w3-center">
    <button class="button" style="width:60%; font-size:30px; border-radius: 45px; font-family: monospace;"><span><b>Sign Up Today!</b></span></button>
</div>



