/* Body */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    padding-bottom: 20px;
    font-family: "Playfair Display";
    height: 100%;
}

div.mainHomeParent {
    height: 72px;
    line-height: 72px;
}

div .mainHomeChild {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
/*Links*/
a{
    text-decoration:none;
}

/*Footer*/
.footer {
    display: flex;
}

footer {
    text-align: center;
}

footer span {
    padding-left: 2em;
    word-spacing: 0.5em;
}

.corked {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
}

.justify-content-end {
    list-style: none;
}


.w3-large{
    font-size: 30px!important;
}

.w3-bar-block .w3-bar-item{
    padding: 0px 16px;
}



/* Hide/rearrange for smaller screens 
@media screen and (max-width: 767px) {
     Hide captions
    .carousel-caption {
        display: none;
    }
}*/
