/*.bg-dark {
    background: linear-gradient(#400113, #5A021A);
}*/

/* Set some basic padding to keep content from hitting the edges     */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    display: flex;
}

.justify-content-end {
    list-style: none;
}

.navbar-light .navbar-brand {
    color: goldenrod;
    margin-left: 65px;
    margin-right: 50px;
}

.user{
    text-align: right;
}

a.navbar-brand {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

body {
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.btn-info{
    margin-left: 0.5em;
}

footer{
    text-align: center;
}

footer span{
    padding-left: 2em;
    word-spacing: 0.5em;
}

.nav-item{
    margin-right: 25px;
    text-decoration:none;
}

nav{
    padding: 5rem;
}

/* Hide/rearrange for smaller screens 
@media screen and (max-width: 767px) {
     Hide captions
    .carousel-caption {
        display: none;
    }
}*/
