@model CheckoutModel
@{ 
    ViewData["Title"] = "Index";
}
<h3>Checkout</h3>

@if (!this.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in (this.ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).Select(x => x.Value.Errors)))
            {
                @foreach (var message in error)
                {
                    <li>@message.ErrorMessage</li>
                }
            }
        </ul>
    </div>

}
<form method="post">
    <div class"form-group">
        <label asp-for="Email">Email Address</label>
        <input type="email" asp-for="Email" required class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit Order" />
    </form>
</>